.tabla{
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;

    & thead{
        background-color: black;
        font-size: 20px;

        & th{
            border: none;
            padding: 10px;
        }
    }

    & tbody{
        color: black;

        & td{
            padding: 10px;
        }

        & tr:nth-child(odd){
            background-color: gray;
        }
    }
}
.btn{
    width: 60px;
    height: 30px;

}
td i{
    font-size: 30px; 
}